<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='models/favicon.ico') }}">
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/tasks-vision/vision_bundle.js" crossorigin="anonymous"></script>
  <title>Posture Guard AI</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

{% if current_user.is_authenticated %}
  <div class="login-fixed">
    <section class="login-box">
      <p>ログイン中：{{ current_user.username }}</p>

      {% if current_user.is_admin %}
        <a href="/debug">デバック</a>
      {% endif %} 

      <a href="{{ url_for('auth.logout') }}">ログアウト</a>
    </section>
  </div>
{% endif %}

<header>
  <h1 align="center">
    
  <img src="{{ url_for('static', filename='models/favicon.ico') }}" width="72">
  <br>
  Posture Guard AI
  </h1>
  <p>AIがあなたの姿勢をリアルタイムでチェックします</p>

</header>



<main class="container">

  <!-- ===== カメラ表示 ===== -->
  <section class="camera-box">
    <video id="camera" autoplay muted playsinline>
    </video>
  </section>

  <!-- ===== 状態表示 ===== -->
  <section class="status-box">
    <div id="posture" class="posture">OFF</div>
    <div class="mono" id="msg"></div>
    <p id="message">カメラはオフです</p>
    {% if current_user.is_authenticated %}
      <div class="button-group">
        <button id="startBtn">
          <img src="/static/models/play.svg" alt="">
          <span>計測開始</span>
        </button>
      <div class="mini-button-row">
        <button id="privacyBtn" class="icon-btn active">
          <img src="/static/models/privacy-on.svg" alt="">
          <span>Privacy ON</span>
        </button>
      
        <button id="toggleCameraBtn" class="icon-btn">
          <img src="/static/models/camera-on.svg" alt="">
          <span>Camera ON</span>
        </button>
      </div>
      <button id="logBtn" onclick="location.href='/logs'">ログ
      </button>
    {% else %}
      <p>
        <button id="login" onclick="location.href='/register'">新規登録</button>
        <button id="register"   onclick="location.href='/login'">ログイン</button>
      </p>
      </div>
    {% endif %}
  </section>

</main>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>