<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='models/favicon.ico') }}">
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/tasks-vision/vision_bundle.js" crossorigin="anonymous"></script>
  <title>Posture Guard AI</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<section class="login-box">
{% if current_user.is_authenticated %}
  <p>ログイン中：{{ current_user.username }}</p>
  <a href="{{ url_for('auth.logout') }}">ログアウト</a>
{% else %}
  <a href="/register">新規登録</a>
{% endif %}
</section>

<header>
  <h1>Posture Guard AI</h1>
  <p>AIがあなたの姿勢をリアルタイムでチェックします</p>
</header>

<main class="container">

  <!-- ===== カメラ表示 ===== -->
  <section class="camera-box">
    <video id="camera" autoplay muted playsinline>
    </video>
  </section>

  <!-- ===== 状態表示 ===== -->
  <section class="status-box">
    <div id="posture" class="posture">OFF</div>
    <div id="score">-</div>
    <div class="mono" id="msg"></div>
    <p id="message">カメラはオフです</p>

    {% if current_user.is_authenticated %}
      <div class="button-group">
        <button id="skeletonBtn" class="muted">骨格表示モード OFF</button>
        <button id="clearBtn" class="danger">オーバーレイ消去</button>
        <button id="startBtn">計測開始</button>
        <button id="privacyBtn">プライバシーモード OFF</button>
        <button id="toggleCameraBtn">カメラをオン</button>
      </div>
    {% else %}
      <p>
        計測を開始するには
        <a href="/login">ログイン</a>
        してください。
      </p>
    {% endif %}
  </section>

</main>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>